/* css for prototype.module */

.sortable, .draggable {
  cursor:move;
}

.inplaceeditor-saving {
  background-image:url(images/snake_transparent.gif);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

div.floatmenu {
  text-align: left;
  background: #BBB;
  padding: 0;
  margin: 0;
  border-top: 1px #666 solid;
  border-left: 1px #666 solid;
  border-right: 1px #666 solid;
  border-bottom: none;
  overflow: hidden;
  width: 150px; /* <-- this is the width of the menu */
}

div.floatmenu a {
  /*line-height: .5em;*/
}

/* headings */
div.floatmenu .title {
  display: block;
  color: #FFF;
  background-color: #666;
  text-align: left;
  font-size: 1em;
  margin: 0;
  padding: 3px;
}

div.floatmenu .menu {
  margin: 0;
  padding: 0;
}

/* cancel out drupal.css */
div.floatmenu .leaf, div.floatmenu .expanded, div.floatmenu .collapsed {
  line-height: 1.2em;
}

div.floatmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #6F6F6F;
}

div.floatmenu li {
  margin: 0;
  padding: 0 0 0 0;
  /* groove effect */
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #6F6F6F;
}

div.floatmenu li.last {
  border-bottom: none;
}

/* 'sink' sub-uls */
div.floatmenu ul li ul {
/*
  border-right: 1px solid #BBB;
  border-left: 1px solid #BBB;
*/
}

/* background image for all leaves */
div.floatmenu .leaf a {
  background-image: url(images/menu-pip-end.png);
}

/* we style the a tag rather than the li so we can do rollovers */
div.floatmenu a.collapsed {
  background-image: url(images/menu-pip-closed.png);
}

div.floatmenu a.expanded {
  background-image: url(images/menu-pip-open.png);
}

/* first one indents enough for the background icon */
div.floatmenu li a {
  color: #333;
  text-decoration: none;
  text-align: left;
  display: block;
  margin: 0;
  padding: 0 0 0 10px;
  background-repeat: no-repeat;
  background-position: 1px 50%;
}

div.floatmenu li a:hover {
  background-color: #999;
  color: #FFF;
}

/* next one indents 7px more */
div.floatmenu li li a {
  padding: 0 0 0 17px;
  background-position: 8px 50%;
}

/* and 7px more */
div.floatmenu li li li a {
  padding: 0 0 0 24px;
  background-position: 15px 50%;
}

div.floatmenu li li li li a {
  padding: 0 0 0 31px;
  background-position: 22px 50%;
}

div.floatmenu a.active {
  text-align: left;
  color: #333;
  background-color: #DDD;
  background-image: url(images/menu-pip-active.png);
  margin: 0;
}